files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            */5 * * * * root docker exec -it $(docker container ls | awk 'END{print $1}') /usr/local/bin/php api/cron.php
commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/mycron.bak"
